.main-chat
  .main-chat__group-info
    .main-top
      .main-top__group
        テスト
      .main-top__list
        asuka
    .main-edit
      = link_to "#" do
        .main-edit__button
          Edit
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form-content
        = f.text_field :content, class: 'form-content__text', placeholder: 'type a message'
        = f.label :image, class: 'form-content__image' do
          = icon('far', 'image', class: 'form-content__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'form__btn'